* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffb398;
    
}

nav {
    background-color: #ffe798;
    color: #60e1f8;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 2rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-shadow: 5px 5px 10px #000000;
}

select {
    font-size: 1.5rem;
    border: 3px solid #4cd0ff;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #000000;
}

img {
    border: 3px solid #000000;
    border-radius: 3px;
}

.doggos {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 80vh;
}

.spinner {
    font-size: 3.1rem;
    text-align: center;
    animation: spin 2s linear infinite;
    display: none;
}

.dog-img {
    display: none;
    max-width: 100%;
    max-height: 80vh;
}

.show {
    display: block;
}


@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }
    select {
        font-size: 1rem;
    }
    nav ul {
        padding: .5rem;
    }
  }